.infusionsContainer {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 0.5rem;
  width: 100%;
  padding-left: 3.4rem;
  padding-right: 3.4rem;
}

@media (max-width: 768px) {
  .infusionsContainer {
    width: 100%;
    padding: 0.5rem 0;
    flex-direction: row;
    gap: 0.8rem;
    justify-content: center;
  }
}
