.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, #ff3d00 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  width: 44px;
  height: 44px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  position: absolute;
  box-sizing: border-box;
  content: "";
  background: #242424;
  transform: translate(-50%, -50%);
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
